<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="ru" xml:lang="ru">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <title th:text="#{login.title}"></title>
        <script src="http://code.jquery.com/jquery-latest.js"></script>
        <script src="resources/dist/js/bootstrap.min.js"></script>
        <link href="resources/dist/css/bootstrap.min.css" rel="stylesheet"/>
   </head>
    <body>
        <div class="container">
            <h3 th:text="#{login.title}"></h3>
            <p class="label-danger" th:if="${loginError}" th:text="#{login.error}"></p>
                <form th:action="@{/login}" method="post">
                    <table class="table">
                        <tr><td>User:</td><td><input type="text" name="username" value=""/></td></tr>
                        <tr><td>Password:</td><td><input type="password" name="password"/></td></tr>
                        <tr><td colspan="2"><input name="submit" class="btn btn-info" type="submit" value="Login"/></td></tr>
                    </table>
                    <span class="" th:text="#{login.text}"></span>
                </form>
        </div>
    </body>
</html>